In [2]:
import os
import pandas as pd
import numpy as np
import pytreebank
import os,sys

In [28]:
os.getcwd()

'C:\\Users\\maria\\Jupiter_Notebooks\\Napier_Dissertation\\trainDevTestTrees_PTB'

In [31]:
data = pytreebank.load_sst("./trainDevTestTrees_PTB/")

In [32]:
for item in data['train']:
    print(item.to_labeled_lines()[0][0],item.to_labeled_lines()[0][1])
    break

3 The Rock is destined to be the 21st Century 's new `` Conan '' and that he 's going to make a splash even greater than Arnold Schwarzenegger , Jean-Claud Van Damme or Steven Segal .

In [33]:
out_path = os.path.join("./sst_{}.txt")# new file format

In [34]:
for cat in ['train','test','dev']:
    with open(out_path.format(cat),"w") as file:
        for item in data[cat]:
            file.write("__label__{}\t{}\n".format(
                item.to_labeled_lines()[0][0] +1,
                item.to_labeled_lines()[0][1]
            ))
    
    print("done with {}".format(file))

done with <_io.TextIOWrapper name='./sst_train.txt' mode='w' encoding='cp65001'>
done with <_io.TextIOWrapper name='./sst_test.txt' mode='w' encoding='cp65001'>
done with <_io.TextIOWrapper name='./sst_dev.txt' mode='w' encoding='cp65001'>

In [35]:
# now you can read the formatted files from pandas easily
train = pd.read_csv("./sst_train.txt",sep="\t",header=None,names=['label','text'])
train['label'] = train['label'].str.replace("__label__","")
train['label'] = train['label'].astype(int).astype("category")

In [36]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8544 entries, 0 to 8543
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   8544 non-null   category
 1   text    8544 non-null   object
dtypes: category(1), object(1)
memory usage: 75.4+ KB

In [26]:
train.head(12)

   label                                                                                                                                                                                                                                text
0      4                                               The Rock is destined to be the 21st Century 's new `` Conan '' and that he 's going to make a splash even greater than Arnold Schwarzenegger , Jean-Claud Van Damme or Steven Segal .
1      5  The gorgeously elaborate continuation of `` The Lord of the Rings '' trilogy is so huge that a column of words can not adequately describe co-writer/director Peter Jackson 's expanded vision of J.R.R. Tolkien 's Middle-earth .
2      4                    Singer/composer Bryan Adams contributes a slew of songs -- a few potential hits , a few more simply intrusive to the story -- but the whole package certainly captures the intended , er , spirit of the piece .
3      3                                                                                                                                You 'd think by now America would have had enough of plucky British eccentrics with hearts of gold .
4      4                                                                                                                                                                                                Yet the act is still charming here .
5      5                                                                  Whether or not you 're enlightened by any of Derrida 's lectures on `` the other '' and `` the self , '' Derrida is an undeniably fascinating and playful fellow .
6      5                                                                                                  Just the labour involved in creating the layered richness of the imagery in this chiaroscuro of madness and light is astonishing .
7      4                                                                                                                                          Part of the charm of Satin Rouge is that it avoids the obvious with humour and lightness .
8      5                                                                                                                                                                        a screenplay more ingeniously constructed than `` Memento ''
9      4                                                                                                                                                                                            `` Extreme Ops '' exceeds expectations .
10     5                                                                                                                                            Good fun , good action , good acting , good dialogue , good pace , good cinematography .
11     3                                                                                                     You Should Pay Nine Bucks for This : Because you can hear about suffering Afghan refugees on the news and still be unaffected .

In [16]:
train.label.unique()

[4, 5, 3, 2, 1]
Categories (5, int64): [1, 2, 3, 4, 5]

In [17]:
test = pd.read_csv("./sst_test.txt",sep="\t",header=None,names=['label','text'])
test['label'] = test['label'].str.replace("__label__","")
test['label'] = test['label'].astype(int).astype("category")

In [18]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2210 entries, 0 to 2209
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   2210 non-null   category
 1   text    2210 non-null   object
dtypes: category(1), object(1)
memory usage: 19.8+ KB

In [24]:
test.head(12)

   label                                                                                                                                        text
0      3                                                                                                              Effective but too-tepid biopic
1      4                                                   If you sometimes like to go to the movies to have fun , Wasabi is a good place to start .
2      5                           Emerges as something rare , an issue movie that 's so honest and keenly observed that it does n't feel like one .
3      3  The film provides some great insight into the neurotic mindset of all comics -- even those who have reached the absolute top of the game .
4      5                                                                               Offers that rare combination of entertainment and education .
5      4                                Perhaps no picture ever made has more literally showed that the road to hell is paved with good intentions .
6      4                                         Steers turns in a snappy screenplay that curls at the edges ; it 's so clever you want to hate it .
7      4                                                                                                               But he somehow pulls it off .
8      4                                                                 Take Care of My Cat offers a refreshingly different slice of Asian cinema .
9      5                                                                      This is a film well worth seeing , talking and singing heads and all .
10     4                                                       What really surprises about Wisegirls is its low-key quality and genuine tenderness .
11     4                                                 ( Wendigo is ) why we go to the cinema : to be fed through the eye , the heart , the mind .

In [23]:
pd.set_option('display.max_colwidth', None)